header{
    background-color: black;
    color: white;
}
body{
    color: red;
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}
h1{
    margin: 15px;
    padding: 30px;
}
main{
    max-width: 1200px;
    margin: auto;
    font-size: 20px;
}